<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>CreateProcurementOrder</h1>
<form action="http://localhost:8080/ProcurementOrder/CreateProcurementOrder" method="get">
    rfqID:<br>
    <input type="text" name="rfqID">
    <br>
    supplierID:<br>
    <input type="text" name="supplierID">
    <br>
    materialID:<br>
    <input type="text" name="materialID">
    <br>
    rfqID1:<br>
    <input type="text" name="rfqID">
    <br>
    supplierID1:<br>
    <input type="text" name="supplierID">
    <br>
    materialID1:<br>
    <input type="text" name="materialID">
    <br>
    <br>
    <input type="submit" value="Submit">
</form>
<h1>deleteProcurementOrderSeriesBySub_orderID</h1>
<form action="http://localhost:8080/ProcurementOrder/deleteProcurementOrderSeriesBySub_orderID" method="get">
    sub_orderID:<br>
    <input type="text" name="sub_orderID">
    <br>
    <br>
    <input type="submit" value="Submit">
</form>
<h1>selectPOBySubOrderID</h1>
<form action="http://localhost:8080/ProcurementOrder/selectPOBySubOrderID" method="get">
    sub_orderID:<br>
    <input type="text" name="sub_orderID">
    <br>
    <br>
    <input type="submit" value="Submit">
</form>
<h1>selectPOByOrderID</h1>
<form action="http://localhost:8080/ProcurementOrder/selectPOByOrderID" method="get">
    OrderID:<br>
    <input type="text" name="OrderID">
    <br>
    <br>
    <input type="submit" value="Submit">
</form>
<h1>deleteProcurementOrderSeriesByOrderID</h1>
<form action="http://localhost:8080/ProcurementOrder/deleteProcurementOrderSeriesByOrderID" method="get">
    OrderID:<br>
    <input type="text" name="OrderID">
    <br>
    <br>
    <input type="submit" value="Submit">
</form>
<body>
<h1>selectPOByField</h1>
<form action="http://localhost:8080/ProcurementOrder/selectPOByField" method="get">
    rfqID:<br>
    <input type="text" name="rfqID">
    <br>
    supplierID:<br>
    <input type="text" name="supplierID">
    <br>
    materialID:<br>
    <input type="text" name="materialID">
    <br>
    data:<br>
    <input type="date" name="date">
    <br>
    <br>
    <input type="submit" value="Submit">
</form>
</body>
</html>