<h1>AddQuatationRequest</h1>
<form action="http://localhost:8080/AddQuatationRequest" method="get">
    supplierID:<br>
    <input type="text" name="supplierID">
    <br>
    materialID:<br>
    <input type="text" name="materialID">
    <br>
    amount:<br>
    <input type="text" name="amount">
    <br>
    date_limit:<br>
    <input type="date" name="date_limit">
    <br>
    <br>
    <input type="submit" value="Submit">
</form>
<h1>DeleteQuatationRequest</h1>
<form action="http://localhost:8080/DeleteQuatationRequest" method="get">
    rfqID1:<br>
    <input type="text" name="rfqID">
    <br>
    rfqID2:<br>
    <input type="text" name="rfqID">
    <br>
    <br>
    <input type="submit" value="Submit">
</form>
<h1>SelectQuatationRequestByID</h1>
<form action="http://localhost:8080/SelectQuatationRequestByID" method="get">
    QuatationRequestID:<br>
    <input type="text" name="rfqID">
    <br>
    <br>
    <input type="submit" value="Submit">
</form>
<h1>SelectQuatationRequestByField</h1>
<form action="http://localhost:8080/SelectQuatationRequestByField" method="get">
    supplierID:<br>
    <input type="text" name="supplierID">
    <br>
    materialID:<br>
    <input type="text" name="materialID">
    <br>
    date:<br>
    <input type="date" name="date">
    <br>
    limitedDate:<br>
    <input type="date" name="limitedDate">
    <br>
    <br>
    <input type="submit" value="Submit">
</form>
