<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sportscar.sportscar.mapper.ComparisonMapper">
    <select id="getComparison" resultType="com.sportscar.sportscar.bean.Comparison">
        SELECT * FROM comparison where userID=#{userID};
    </select>

    <insert id="addComparison" parameterType="com.sportscar.sportscar.bean.Comparison">
        insert into comparison values (#{comparisonID},#{rfqID},#{userID})
    </insert>
    <insert id="addComparisonAll" >
        insert into comparison values
        <foreach collection="list" separator="," item="item">
            (#{item.comparisonID},#{item.rfqID},#{item.userID})
        </foreach>
    </insert>

</mapper>