<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sportscar.sportscar.mapper.MaterialMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="materialID">
        INSERT INTO material (materialName,description,weight,factory
        ) VALUES (#{materialName},#{description},#{weight},#{factory})
    </insert>

    <delete id="delete">
        DELETE FROM material WHERE materialID = #{materialID}
    </delete>

    <update id="update">
        UPDATE material SET materialName = #{materialName}, description = #{description},factory = #{factory},
                            weight = #{weight}
    </update>

    <select id="findByName" resultType="com.sportscar.sportscar.bean.Material">
        SELECT * FROM material WHERE materialName = #{materialName}
    </select>

<!--    用id查询物料-->
    <select id="findByID" resultType="com.sportscar.sportscar.bean.Material">
        SELECT * FROM material WHERE materialID = #{materialID}
    </select>

    <select id="findAll" resultType="com.sportscar.sportscar.bean.Material">
        SELECT * FROM material
    </select>

</mapper>