<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sportscar.sportscar.mapper.SupplierMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="supplierID">
        INSERT INTO supplier (supplierName,region,language,clerk_vendor
        ) VALUES (#{supplierName},#{region},#{language},#{clerkVendor})
    </insert>

    <select id="findByName" resultType="com.sportscar.sportscar.bean.Supplier">
        SELECT * FROM supplier WHERE supplierName = #{supplierName}
    </select>

<!--    判断某供应商是否存在-->
    <select id="ifSupplierExist" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        SELECT 1 FROM supplier WHERE supplierID = #{supplierID}
    </select>
<!--    通过id查询供应商-->
    <select id="findByID" resultType="com.sportscar.sportscar.bean.Supplier" parameterType="java.lang.Integer">
        SELECT * FROM supplier WHERE supplierID = #{supplierID}
    </select>
</mapper>